<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<insert id="insertUser">
		insert into board_user (userid, password, username, email) values (#{userid}, #{password}, #{username}, #{email})
	</insert>
	
	<select id="selectUser" resultType="UserVO">
		select * from board_user where userid = #{userid}
	</select>
	
	<select id="readWithPW" resultType="UserVO">
		select * from board_user where userid = #{userid} and password = #{password}
	</select>

</mapper>