.content-body {
	border : 1px solid #ced4da; 
	border-radius: .25rem; 
	background-color: #e9ecef; 
	padding: .375rem .75rem;
}

.img-area img {
	width: 100%;
	height: auto;
}

.dropZone {
    width: 100%;
    height: 200px;
    line-height: 200px;
    border: 1px dotted blue;
    font-size: 1.5rem;
    font-weight: bold;
}

small {
    margin-left: 3px;
    font-weight: bold;
    color: gray;
}

.bi-x-circle-fill {
	cursor: pointer;
}

a {
	color: white;
	text-decoration: none;
}
